{% extends 'home/base.html' %}
{% load static %}
{% block title %} Благодарность и друзья {% endblock %}
{% block content %}
<div class="pad-header"></div>
<div class="thanks">
	<div class="thanks-header">
		<div class="container">
			<div class="title">
				Благодарность и мои друзя.
			</div>
			<div class="text">
				На этой странице я хотел бы проявить искреннюю благодарность и познакомить вас с некоторыми своими друзьями и знакомыми из телеграма, а возможно и не только.
				<br>Я надеюсь, что вы это прочтёте и возможно найдёте здесь себя!
			</div>
		</div>
	</div>
	<div class="thank">
		<div class="container">
			<div class="sub-title">
				Дарья
			</div>
			<div class="text">
				Даша - моя лучшая подруга, к сожалению с которой я могу пообщаться лишь в телеграме..
				<br>Она прекрасный человек, с которым у нас много общего. Она милая, умная, к тому же классно шутит. Могу с уверенностью сказать, что она мне как сестра и я ей доверяю не меньше, чем себе.
				<br>Люблю. <i>&#x1f498;</i>
			</div>
		</div>
	</div>
	<div class="thank">
		<div class="container">
			<div class="sub-title">
				Михаил
			</div>
			<div class="text">
				Миша - мой близкий друг, которому я также, как и Даше, очень многое доверяю. Увы, и он далеко от меня.
				<br>С мишей я познакомился благодарю "общему горю". В тот день мне было хреново, я отходил от расставания, я решил посидеть в анонимке и выговориться. Миша мне помог, рассказал и о своих проблемах с бывшей и на этой почве мы и познакомились.
				<br>Отличный друг и шарит за старые видео-мемы. :)
				<br>Люблю. <i>&#x1f49b;</i>
			</div>
		</div>
	</div>
	<div class="thank">
		<div class="container">
			<div class="sub-title">
				Анастасия
			</div>
			<div class="text">
				Настюша - моя подруга и одноклассница. Мы с ней частенько болтали на уроках о всяком разном.
				<br>Классный человек, с которым можно хорошо посмеяться. А ещё,  у неё есть прелестный пёс Арчи, который не раз меня пачкал своими лапами.)
				<br>Люблю. <i>&#x1f49c;</i>
			</div>
		</div>
	</div>
	<div class="thank">
		<div class="container">
			<div class="sub-title">
				Мои компании
			</div>
			<div class="text">
				Да, у меня не одна компания, в которой я провожу свободное время.)
				<br>Одна из них - компания на турниках. Там лишь пару человек, с которыми я частенько вижусь, занимаюсь и разговариваю. Первый человек из них, это Мялик. Я не буду много о нём писать, скажу лишь то, что у нас слишком схожее чувство юмора и иногда мы одновременно одинаково шутим. Второй из них - Рамзес. На самом деле его зовут Атаджан(надеюсь правильно написал), но так почему то привычнее уже. Также классный парень и отличный воркаутер.
				<br>Во второй компании людей будет побольше.. И знаком я с некоторыми не так долго, поэтому лишь перечислю имена большинства и скажу, что они все крутые!! И так, имена.. Юсуп, Вадимка, Максат, Кервен, Данил, Аня, Стеша, Тимур, Керим, Мухич. Ух, надеюсь никого не забыл. А если и забыл, прошу понять и простить.)
				<br>Всех люблю!! <i>&#x1f49d;</i> 
			</div>
		</div>
	</div>
	<div class="thank">
		<div class="container">
			<div class="sub-title">
				Мой класс
			</div>
			<div class="text">
				Ну, что ж тут рассказывать.. Практически со всеми этими ребятами я знаком уже почти 11 лет. С кем то я знаком хорошо, с кем то не очень, но все они хорошие, прекрасные люди, с которыми я провёл большую часть детства и подросткового возраста. Ну и конечно же не забуду про нашего классного руководителя. Да, она действительна классная во всех смыслах этого слова. Её имя я говорить не буду, ибо не уверен, что ей это может понравиться.
				<br>Из класса, я наверное, выделю лишь пару человек, о которых ещё не писал. Этими людьми будут Руслан и Николай. С ними я дружил долгое время, но, как то так вышло, что последнее время мы не общаемся. Не сказать, что я этому рад, но, видимо, всё заканчивается и дружба не исключение. Рассказать ли мне о них вкратце? Думаю да, не будет лишним. Руслан - хороший парень и, вероятно, преданный друг. Николай - смышлённый, с хорошим чувством юмора и милой собачкой, по кличке Спани. Много времени мы провели вместе, гуляя по улице нашего города и это время было одно из лучших и весёлых в моей жизни.
				<br>Люблю и обожаю. <i>💓&#x1f49a;&#x1f499; </i>
			</div>
		</div>
	</div>
	<div class="thank">
		<div class="container">
			<div class="sub-title">
				Коллектив агентов поддержки ириса.
			</div>
			<div class="text">
				Подробнее обо всех этих людях вы можете прочесть на <a href="{% url 'iris' %}"><b>этой</b></a> странице, но я всё же решил внести их и сюда, ибо я с этими людьми уже практически год, а это не малый промежуток времени для меня.)
				<br>В нашей команде все отличные и исключительно добрые люди. Да, даже Гоша.
				<br> Люблю!<i>💞</i>
			</div>
		</div>
	</div>
	<div class="thank">
		<div class="container">
			<div class="sub-title">
				Ася
			</div>
			<div class="text">
				Ася.. не знаю, можно ли её назвать своей подругой, но пусть будет, что да.
				<br> Ася хороший, добрый, искренний человек, который мне помогал в некоторых моментах моей жизни. Спасибо!!
				<br>Люблю. <i>💗</i>
			</div>
		</div>
	</div>
	<div class="thank">
		<div class="container">
			<div class="sub-title">
				Екатерина
			</div>
			<div class="text">
				С Катей я знаком не так давно, но за всё время нашего общения, она всегда была добра ко мне. Она также помогала мне с сайтом, за что отдельное спасибо. :)
				<br> Хоть у нас и большая разница в возрасте, всё же я бы хотел с ней встретиться и провести время вместе.
				<br> Люблю. <i>💖</i>
			</div>
		</div>
	</div>
	<div class="thank">
		<div class="container">
			<div class="sub-title">
				Витя
			</div>
			<div class="text">
				С Витей я знаком мало, но он не раз помогал мне в плане программирования. Я очень ему за это благодарен. 
				<br>Возможно, только благодарю ему мои <a href="{% url 'modules' %}"><b>модули FTG</b></a> сейчас вообще существует
				<br>Люблю. <i>&#x2764;</i>
			</div>
		</div>
	</div>
	<div class="thank-end">
		<div class="container">
			<div class="sub-title">Заключение</div>
			<div class="text">
				Что же говорить в конце, я даже не знаю.. Но раз ты, дорогой читатель, прочёл всю эта страницу, то я тебя уже люблю. <i>♥</i>
				<br> Следите за всеми моими новыми событиями из жизни в категориях сайта!
			</div>
		</div>
	</div>
</div>
{% endblock %}