{% extends 'home/base.html' %}
{% load static %}
{% block title %} Модули FTG {% endblock %}
{% block content %}
<div class="pad-header"></div>
<div class="modules">
	<div class="container" id="ftg">
		<div class="title">
			FTG
		</div>
		<div class="text">
			Для начала я вам вкратце расскажу, что же такое FTG.
			<br><b>FTG</b>(Friendly-telegram Userbot) - это юзербот, написанный на яп python, предназначенный для пользования в телеграме. <b>Юзербот</b> - это бот, "сидящий" на аккаунте пользователя как и обычный человек и позволящий использовать некие команды в любом чате телеграма.
		</div>
	</div>
	<div class="modules-my">
		<div class="modul">
			<div class="container">
				<div class="title">RPMod</div>
				<div class="text">
					Модуль <b>RPMod</b> - данный модуль выполняет рп команды. Например:
					<br><span>💘</span>|<b>питса</b> обнял <b>уточка</b>
					<br><b>С репликой:</b> ути.
					<br> Модуль многофункциональный, доступнка смена ника, добавление/удаление рп команд, возможность отключать и включать модуль в конкретных чатах и в целом, смена режима срабатывания на отправку и изменение смс, возможность сделать и загрузить бекап команд. Да, я постарался с этим модулем и считаю его пока что лучшим из всех моих модулей.
				</div>
				<div class="button text"><a class='bgc-header' target="_blink" href="https://github.com/trololo65/Modules/raw/main/RPMod.py">Тык</a></div>
			</div>
		</div>
		<div class="modul">
			<div class="container">
				<div class="title">Morze</div>
				<div class="text">Модуль <b>Morze</b> - этот модуль конвертирует кириллический текст, а также некоторые символы и цифры в азбуку морзе и наоборот. один из первых модулей.</div>
				<div class="button text"><a class='bgc-orange' target="_blink" href="https://github.com/trololo65/Modules/raw/main/Morze.py">Тык</a></div>
			</div>
		</div>
		<div class="modul">
			<div class="container">
				<div class="title">Vizjener</div>
				<div class="text">Модуль <b>Vizjener</b> - модуль схож функционалом с модулем морзе, но этот шифрует и дешифрует текст по шифру Визженеря.</div>
				<div class="button text"><a class='bgc-header' target="_blink" href="https://github.com/trololo65/Modules/raw/main/Vizjener.py">Тык</a></div>
			</div>
		</div>
		<div class="modul">
			<div class="container">
				<div class="title">LsSend</div>
				<div class="text">Модуль <b>LsSend</b> - данный скрипт отправляет смс указанному пользователю.</div>
				<div class="button text"><a class='bgc-orange' target="_blink" href="https://github.com/trololo65/Modules/raw/main/LsSend.py">Тык</a></div>
			</div>
		</div>
		<div class="modul">
			<div class="container">
				<div class="title">NumMod</div>
				<div class="text">Модуль <b>NumMod</b> - заражает пользователей из жертв/биотопа в ирисе по указанному номеру. Также есть возможность заразить сразу всех пользователей, чьи ссылки есть в сообщение, на которое поставлен реплай.</div>
				<div class="button text"><a class='bgc-header' target="_blink" href="https://github.com/trololo65/Modules/raw/main/Num.py">Тык</a></div>
			</div>
		</div>
		<div class="modul">
			<div class="container">
				<div class="title">SeeChat</div>
				<div class="text">Модуль <b>SeeChat</b> - логирует все переписки в личных сообщениях. Модуль не мой, я лишь доработал некоторые моменты в нём,добавив сохранение самоуничтожающихся видео и исправил баг для пользователей, чей бот на хероку.</div>
				<div class="button text"><a class='bgc-orange' target="_blink" href="https://github.com/trololo65/Modules/raw/main/SeeChat.py">Тык</a></div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
